/* Pour tous les points de rupture */



  
  
  @media all and (min-width: 768px) and (max-width: 1669px){

    
}


    


@media all and (max-width: 1634px) {
    
}

    


  
@media all and (max-width: 1069px) {
   
}

  
@media all and (max-width: 1360px) {
   
}

  


@media all and (max-width: 1070px) {
   
}


@media all and (max-width: 1035px) {
    
}




@media all and (max-width: 991px) {
    
}


@media all and (max-width: 912px) {
    
}

@media all and (max-width: 867px) {
    
}

@media all and (max-width: 821px) {
  
}











/* Pour les écrans jusqu'à 767px de largeur */
@media all and (max-width: 767px) {
    .section2 {
        margin-top: 180%;
    }
    .image-margin,
    .image-margin1,
    #rightColumn2,
    #leftColumn3,
    #rightColumn4,
    #leftColumn5 {
        margin-left: -1%; 
    }
    .row-margin1 {
        display: flex;
        flex-direction: column-reverse;
    }
 
      .section3{
          height: 1500px;
      }
    
}



/* Pour les écrans jusqu'à 659px de largeur */
/* Pour les écrans jusqu'à 705px de largeur */
@media all and (max-width: 705px) {
    .section2 {
        margin-top: 180%;
    }
    .image-margin,
    .image-margin1,
    #rightColumn2,
    #leftColumn3,
    #rightColumn4,
    #leftColumn5 {
        margin-left: -1%; 
    }
    .row-margin1 {
        display: flex;
        flex-direction: column-reverse;
    }
      .section3{
          height: 2800px;
      }
}



@media all and (max-width: 669px) {

    .section2 {
        margin-top: 180%;
    }
    .image-margin,
    .image-margin1,
    #rightColumn2,
    #leftColumn3,
    #rightColumn4,
    #leftColumn5 {
        margin-left: -1%; 
    }
    .row-margin1 {
        display: flex;
        flex-direction: column-reverse;
    }
      .section3{
          height: 2800px;
      }
}



@media all and (max-width: 622px) {
    .hrimage{
        margin-top: 450%;
    }
}

@media all and (max-width: 591px) {
 
    .section2 {
        margin-top: 180%;
    }
    .image-margin,
    .image-margin1,
    #rightColumn2,
    #leftColumn3,
    #rightColumn4,
    #leftColumn5 {
        margin-left: -1%; 
    }
    .row-margin1 {
        display: flex;
        flex-direction: column-reverse;
    }
 
   
    
      .section3{
          height: 2800px;
      }
}








































/* Pour les écrans jusqu'à 470px de largeur */
@media all and (max-width: 575px) {
    .section2 {
        position: static;
        margin-top: 235%;
    }
 
    .image-margin,
    .image-margin1,
    #rightColumn2,
    #leftColumn3,
    #rightColumn4,
    #leftColumn5 {
        margin-left: -1%; 
    }
    .row-margin1 {
        display: flex;
        flex-direction: column-reverse;
    }
      .section3{
          height: 2800px;
      }

}

/* Pour les écrans jusqu'à 370px de largeur */
@media all and (max-width: 550px) {
    .section2 {
        position: static;
        margin-top: 235%;
    }
 
    .image-margin,
    .image-margin1,
    #rightColumn2,
    #leftColumn3,
    #rightColumn4,
    #leftColumn5 {
        margin-left: -1%; 
    }
    .row-margin1 {
        display: flex;
        flex-direction: column-reverse;
    }
      .section3{
          height: 2800px;
      }

}


@media all and (max-width: 530px) {
    .section2 {
        position: static;
        margin-top: 235%;
    }
 
    .image-margin,
    .image-margin1,
    #rightColumn2,
    #leftColumn3,
    #rightColumn4,
    #leftColumn5 {
        margin-left: -1%; 
    }
    .row-margin1 {
        display: flex;
        flex-direction: column-reverse;
    }
 
   
      .section3{
          height: 2800px;
      }
    

}


@media all and (max-width: 516px) {
    .section2 {
        position: static;
        margin-top: 235%;
    }
 
    .image-margin,
    .image-margin1,
    #rightColumn2,
    #leftColumn3,
    #rightColumn4,
    #leftColumn5 {
        margin-left: -1%; 
    }
    .row-margin1 {
        display: flex;
        flex-direction: column-reverse;
    }
 
    
      .section3{
          height: 2800px;
      }


}

@media all and (max-width: 492px) {
    .section2 {
        position: static;
        margin-top: 235%;
    }
 
    .image-margin,
    .image-margin1,
    #rightColumn2,
    #leftColumn3,
    #rightColumn4,
    #leftColumn5 {
        margin-left: -1%; 
    }
    .row-margin1 {
        display: flex;
        flex-direction: column-reverse;
    }
 
    
      .section3{
          height: 2800px;
      }
     
}


/* Pour les écrans jusqu'à 314px de largeur */
@media all and (max-width: 457px) {
    .section2 {
        position: static;
        margin-top: 235%;
    }
 
    .image-margin,
    .image-margin1,
    #rightColumn2,
    #leftColumn3,
    #rightColumn4,
    #leftColumn5 {
        margin-left: -1%; 
    }
    .row-margin1 {
        display: flex;
        flex-direction: column-reverse;
    }
 
    
      .section3{
          height: 2800px;
      }
   
}

@media all and (max-width: 433px){
    .hrimage{
        margin-top: 670%;
    }
}

@media all and (max-width: 420px){
    .section2 {
        position: static;
        margin-top: 235%;
    }
 
    .image-margin,
    .image-margin1,
    #rightColumn2,
    #leftColumn3,
    #rightColumn4,
    #leftColumn5 {
        margin-left: -1%; 
    }
    .row-margin1 {
        display: flex;
        flex-direction: column-reverse;
    }
      .section3{
          height: 2800px;
      }
}


@media all and (max-width: 408px){
    .section2 {
        position: static;
        margin-top: 235%;
    }
 
    .image-margin,
    .image-margin1,
    #rightColumn2,
    #leftColumn3,
    #rightColumn4,
    #leftColumn5 {
        margin-left: -1%; 
    }
    .row-margin1 {
        display: flex;
        flex-direction: column-reverse;
    }
 
   
      .section3{
          height: 2800px;
      }
   
}


@media only screen and (max-width: 659px) {
    /* Styles spécifiques pour les écrans de 659 pixels et moins */
    .rating {
       
    }
}