/* Scrollbar */

body {
    --sb-track-color: #232E33;
    --sb-thumb-color: #b1b18c;
    --sb-size: 6px;
   margin: 0;
   min-block-size: 100dvh;
  }
  
  body::-webkit-scrollbar {
    inline-size: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 50px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 50px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

  *{
    min-inline-size: 0;
    font:inherit
  }

  *, *::before, *::after {
    box-sizing: border-box
  }

  img, video,svg{
    display: block;
    block-size: auto;
    max-inline-size: 100%;
  }

  h1 , h2 , h3 , h4 , h5 , h6 {
    text-wrap: balance;
  }


  
/* Navbar*/

.navbar {
  background-color: transparent !important;
  position: fixed;
}

.navbar-nav .nav-link {
  color: white !important; /* Texte blanc */
  text-decoration: none; /* Pas de soulignement par défaut */
  padding-bottom: 0.5rem; /* Ajoute un peu d'espace sous chaque lien */
  margin-right: 100px; /* Espacement plus grand entre les liens */
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.navbar-nav .nav-link:hover {
  color: rgb(255, 255, 255) !important; /* Couleur de survol */
  text-decoration: none; /* Supprimer le soulignement par défaut */
}

.navbar-nav .nav-link::after {
  content: ''; /* Ajoutez une ligne sous les liens */
  display: block;
  width: 0;
  height: 2px; /* Épaisseur de la ligne */
  background-color: brown; /* Couleur de la ligne */
  transition: width 0.3s; /* Transition pour un effet fluide */
}

.navbar-nav .nav-link:hover::after {
  width: 100%; /* Fait apparaître la ligne sous les liens au survol */
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Pour assurer que la navbar reste au-dessus du contenu */
  animation: fadeInDown 0.5s; /* Ajoutez une animation pour une transition fluide */
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-nav {
  margin-left: auto; /* Aligner à droite */
  
}

.scrolled .nav-link {
  color: rgb(255, 255, 255) !important; /* Changez la couleur du texte en noir lorsque la classe scrolled est présente */
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.849) !important; /* Noir transparent */
}


/* --------------------------------------------------------------------------------- */


/* import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'animate.css';




  /* Section1 */

  

.pourquoi{

  margin-block-start: 2%;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
  color: rgb(51, 51, 51);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hrapropos{
 color: rgb(110, 62, 28); /* Arrière-plan marron subtil */
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 14%;
margin-inline-start: 43%;

border-width: 2px;
font-weight: bold;
  
}
.text-icons{
  white-space: nowrap;
  margin-inline-start: 5%;
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  margin-inline-start: -5%;
}

.img4 , .img2{
  margin-inline-start: -70%;
}

.img1 , .img3{
  margin-inline-start: -20%;
}



.section1 {

  block-size: 700px;
  padding-block-start: 1%;
  background-image: url(../img/2305.w064.n002.147B.p1.147.jpg);
  background-repeat: no-repeat;
  background-size: 100% 70%;
  background-attachment: scroll;
  background-attachment: fixed; 
  
 
}



.hr1{
  inline-size: 84%;
  margin-block-start: 8ch;
margin-inline-start: 10%;
color: #000000;
border-width: 4px;
font-weight: bold;
}

/* section1bis */
/* Styles spécifiques à la section */
.section1bis {
  
  padding: 0px 0;
  block-size: 600px;
}

/* Grille d'icônes */
.icon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Aligner les icônes en haut */
  margin-block-start: 30px;
  margin: 10%;
}

/* Conteneur d'icône */
.icon-container {
  flex: 1;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 15%;

}

/* Titre d'icône */
.icon-title {
  margin-block-start: 20%; /* Marge vers le haut */
  margin-block-end: 5px; /* Marge vers le bas */
  font-size: 18px; /* Taille de la police */
  margin-inline-start: -5%;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Icône */
/* Icône */
.icon {
  inline-size: 80px;
  block-size: 80px;
  border-radius: 50%;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, background-color 0.3s; /* Ajouter la transition pour l'échelle et la couleur de fond */
}




/* Image d'icône */
.icon-img {
  max-inline-size: 50px;
  max-block-size: 50px;
}

/* Texte d'icône */
.icon-text {
  margin-block-start: 8%; /* Marge vers le haut */
  margin-block-end: 20px; /* Marge vers le bas */
}



.hrservices{
  color: rgb(110, 62, 28); /* Arrière-plan marron subtil */
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 14%;
margin-inline-start: 43%;

border-width: 2px;
font-weight: bold;
}


/* --------------------------------------------------------------------------------- */


/* section2 */

.section2{
  block-size: 400%;
  padding-block-start: 1%;
/* Couleur de fond */
 background-image: url(../img/5636276.jpg);
  padding: 50px 0; /* Espacement intérieur */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: scroll;
  background-attachment: fixed; 
}

.hidden {
  opacity: 0;
  transition: opacity 1s ease;
}

.visible {
  opacity: 1;
}



.title-margin {
  margin-block-end: 200px;
}

.row-margin {
  margin-block-end: 300px;
}

.row-margin1 {
  margin-block-end: 300px;
}
.column-margin {
  margin-block-end: 50px;
}

.text-margin {
  margin-block-end: 20px;
  font-weight: bold;
}

#leftcolumn1{
  margin-inline-start: -200px;
}

#leftColumn3{
  margin-inline-start: -50px;

}

#leftColumn5{
  margin-inline-start: -50px;
}
#rightColumn2{
  margin-inline-start: 80px;
}

.image-margin {
  margin-inline-start: 80px;
}

#rightColumn4{
  margin-inline-start: 80px;
}

.image-margin1 {
  margin-inline-start: -80px;
}

/* section 3 */

.section3 {
  position: relative;
  block-size: 1000px;
  justify-content: center; /* Centrer les éléments horizontalement */
  align-items: center; /* Centrer les éléments verticalement */
inline-size: 100%;
padding: 0 10px;

}




h1 {
  color: brown;
  margin-block-end: 10px;
  
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

hr {
  border-color: brown;
}


.h1gallery{
  display: flex;
  justify-content: center;
  margin-block-start: 2%;
}






.hrgallery{
  color: rgb(110, 62, 28); /* Arrière-plan marron subtil */
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 14%;
margin-inline-start: 43%;

border-width: 2px;
font-weight: bold;
}







.full-gallery {
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset-inline-start: 50%;
  inset-block-start: 60%;
  max-inline-size: 1170px;
  transform: translateX(-50%) translateY(-50%);
  font-family: Arial;
}
.image-gallery {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.image-gallery .gallery-items {
  margin: 15px;
  inline-size: 300px;
  block-size: 300px;
  background-color: #7c4f2459;
  border-radius: 50%;
  cursor: zoom-in;
  
  transition: background-color 0.25s ease;
}

.image-gallery .gallery-items .item {
  position: relative;
  inline-size: 300px;
  block-size: 300px;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.9);
  overflow: hidden;
  border-radius: 50%;
  transition: transform 0.25s ease;
}
.gallery-items:hover .item {
  transform: translateX(-50%) translateY(-50%) scale(1);
}
.image-gallery .gallery-items .item img {
  inline-size: 100%;
  block-size: 100%;
  transition: transform 0.25s ease;
}
.item:hover img {
  transform: scale(1.08)
}
.image-gallery .gallery-items .item .item-title {
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.image-gallery .gallery-items .item .transparent-back {
  position: absolute;
  background-color: #000000;
  inline-size: 100%;
  block-size: 100%;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
}
.image-gallery .gallery-items .item .transparent-back:hover {
  opacity: 0;
  animation: 0.25s fade-back forwards ease;
}
@keyframes fade-back {
  0% { opacity: 0; }
  100% { opacity: 0.5; }
}
.item-title .title-text > p:nth-child(1) {
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  inline-size: 100%;
  font-size: 1.5em;
  pointer-events: none;
  transform: translateX(-50%) translateY(-500%);
  color: #ffffff;
  opacity: 0;
  text-align: center;
  transition: transform 0.25s ease, opacity 0.25s ease;
}
.item-title:hover .title-text > p:nth-child(1) {
  transform: translateX(-50%) translateY(-60%);
  opacity: 1;
}
.title-text > p:nth-child(2) {
  position: absolute;
  inline-size: 100%;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  font-size: 1em;
  pointer-events: none;
  transform: translateX(-50%) translateY(500%);
  color: #cccccc;
  opacity: 0;
  text-align: center;
  transition: transform 0.25s ease, opacity 0.25s ease;
}
.item-title:hover .title-text > p:nth-child(2) {
  transform: translateX(-50%) translateY(60%);
  opacity: 1;
}


/* Style pour le modal */
.modal {
  display: none; /* Masquer par défaut */
  position: fixed; /* Position fixe */
  z-index: 9999; /* Mettre au-dessus de tout le contenu */
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%; /* Largeur pleine largeur */
  block-size: 100%; /* Hauteur pleine largeur */
  background-color: rgba(0, 0, 0, 0.7); /* Fond noir légèrement transparent */
  overflow: auto; /* Pour faire défiler quand nécessaire */
}

.modal-content {
  position: fixed;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  max-inline-size: 960px; /* Largeur maximale */
  max-block-size: 720px; /* Hauteur maximale */
  inline-size: 100%; /* Forcer à remplir la largeur */
  block-size: auto; /* Ajuster la hauteur en fonction de la largeur */
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-content img {
  max-inline-size: 100%;
  max-block-size: 100%;
  display: block;
  margin: 0 auto;
}

.close {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/* contact */
/* Reset CSS */

/* section 4 */
.section4 {
  background-image: url(../img/8918.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  min-height: 250vh; /* Hauteur minimale équivalente à la hauteur de la fenêtre */
  background-attachment: fixed; /* Fixer l'image de fond à la fenêtre */
}


.align-center {
  text-align: center;
  
}

.custom-grid {
  margin: 0 20px; /* Ajout de marges de 20px de chaque côté */
  text-align: center; /* Centrage du contenu */
  margin-top: 10%;
  
}
.custom-grid .grid-item {
  display: inline-block; /* Pour que les champs "Name" et "E-mail" soient alignés horizontalement */
}
.custom-grid .grid-item:nth-child(1) {
  margin-right: 0px; /* Augmentation de la marge entre le premier champ et le deuxième */
}
.custom-grid .grid-item:last-child {
  margin-right: 0; /* Suppression de la marge à droite du dernier champ */
}
.custom-grid:after {
  content: "";
  display: table;
  clear: both;
}
.custom-grid .col {
  padding: 0 20px;
  float: left;
  box-sizing: border-box;
}
.custom-grid .col.x-50 {
  width: 50%;
 
}
.custom-grid .col.x-100 {
  width: 100%;
  
}

.content-wrapper {
  min-height: 100%;
  position: relative;
  

}
h1.avis {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 35px;
}


.conteneur {
  max-width: 650px;
  margin: 100px auto 0; /* Déplace le conteneur vers le bas de 100px */
  position: relative;
  top: 60px; /* Déplace le conteneur de 50px vers le bas */
}
.conteneur.title {
  text-align: center;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 48px;

  
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
  
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  cursor: text;
  transition: transform 0.2s ease-in-out;
  font-weight: bold;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.note {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: Lusitana, serif;
  font-size: 16px;
  line-height: 21px;
}
.note .link {
  color: #888888;
  text-decoration: none;
}
.note .link:hover {
  text-decoration: underline;
}

#email{
  background-color: transparent;
}

#name{
  background-color: transparent;
}
#message{
  background-color: transparent;
}

/* Style pour les boutons radio */
.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #000; /* Couleur des étoiles en noir */
  transition: color 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #ff9100;
  transition: color 0.3s;
}

.labelnote{
  top: 20%;
  position: absolute;
  left: 180px;
  bottom: 11px;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  cursor: text;
  transition: transform 0.2s ease-in-out;
  font-weight: bold;
}


.Btn {
  width: 180px;
  height: 45px;
  border-radius: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  background: linear-gradient( to right,#000000, #684217);
  transition-duration: .3s;
  letter-spacing: 1.4px;
left: 33%;
}

.svgIcon path {
  fill: white;
}

.Btn:hover {
  transform: scale(0.95);
  transition-duration: .3s;
}

.Btn::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 30%;
  filter: blur(10px);
  bottom: -3px;
  z-index: -1;
  transition-duration: .3s;
}

.Btn:hover::before {
  bottom: -1px;
  filter: blur(5px);
  transition-duration: .3s;
}



/* icones contact */

.contact-icons-container {
  width: 100%; /* Utilisation de la largeur disponible */
  margin: 0 auto;
  text-align: center;
  padding-top: 1%;
 
}

.contact-box {
  background-image: url(../img/4142972.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 65%;
  margin: 500px auto 0; /* Ajoute un espace de 500 pixels en haut et centre horizontalement */
  margin-top: 10%;
}



.contact-icon {
  width: 30%; /* Répartition égale de l'espace pour chaque icône */
}

.contact-icons-container .contact-icon .fas,
.contact-icons-container .contact-icon .far,
.contact-icons-container .contact-icon .fab {
  font-size: 64px;
}

.contact-icons-container .contact-icon h3,
.contact-icons-container .contact-icon h4 {
  overflow: hidden;
  margin-top: 10px; /* Espacement entre l'icône et les titres */
  opacity: 0; /* Caché initialement */
  transition: opacity 0.3s ease; /* Transition pour une animation fluide */
  color :rgb(255, 255, 255);
}


.contact-icons-container .contact-icon h3{
  font-size: 14px;
}
.contact-icons-container .contact-icon h4{
  font-size: 16px;
}
.contact-icons-container .contact-icon:hover h3,
.contact-icons-container .contact-icon:hover h4 {
  opacity: 1; /* Fait apparaître le texte lorsqu'on survole la boîte */
}


.contact-icons-container .contact-icon:hover .fas,
.contact-icons-container .contact-icon:hover .far,
.contact-icons-container .contact-icon:hover .fab {
  transform: scale(1.1); /* Augmente la taille de l'icône de 20% */
}

.titreavis{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 5%;
}

.hravis{
  color: rgb(110, 62, 28); /* Arrière-plan marron subtil */
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 14%;
border-width: 2px;
font-weight: bold;
}

/* php avis */



.form-container {
  background-color: transparent;
  background-image: url(../img/4142972.jpg);
  padding: 6vw; /* Utilisation de vw pour le padding */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; /* Ajustement de la largeur en pourcentage */
  max-width: 2000px; /* Largeur maximale en pixels */
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover; /* Utilisation de cover pour que l'image remplisse le conteneur */
  background-attachment: scroll;
  margin: 10% auto; /* Centrage horizontal et marge de 10% sur les côtés */
 
}
.nomtexte {
color: white;
 height: 50%;
}

.nom{
  color: black;
}
.note {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 14px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 90%; /* Augmentez cette valeur pour déplacer la note plus bas */
  left: 50%;
  transform: translateX(-50%);
}

.carousel-item {
  height: 150px; /* Ajustez cette valeur en fonction de la hauteur nécessaire pour contenir le contenu complet, y compris la note déplacée */
}



#avis{
  height: 200%;
}
.commentaire{
  color: black;
}

.experiences{
  padding-bottom: 5%;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}/* Style pour l'overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour l'overlay */
    display: none; /* Par défaut, l'overlay est caché */
    z-index: 9999; /* Assure que l'overlay est au-dessus de tout le contenu */
}

/* Style pour le conteneur du reCAPTCHA à l'intérieur de l'overlay */
#recaptchaContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
